<h1>User settings</h1>
<ul>
  <!-- todo: need to make this form better handle different settings types, as well
    as display in the units appropriate for each setting -->
  <% @settings.each do |setting| %>
    <li>
      <%= form_for(setting, remote: true) do |f| %>
        <%= f.label setting.key %>
        <%= f.text_field :value %>
        <% if [:reminder_advance_time].include?(setting.key.to_sym) %>
          <%= select_tag(:time_units, options_for_select([:minutes, :hours, :days])) %>
        <% end %>
        <%= f.submit %>
      <% end %>
    </li>
  <% end %>
<ul/>
