<h1>User settings</h1>
<div class="col-md-6">
<% @settings.each do |setting| %>
  <%= form_for(setting) do |f| %>
    <div class="form-group" >
      <%= f.label setting.key %>
      <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" 
        data-placement="right" title="<%= t "settings.descriptions.#{setting.key}" %>" ></span>
      <% unless setting.units.nil? %>
        <%= f.text_field :value, class: "form-control form-has-units" %>
        <%= select_tag("#{setting.key}_units", 
          options_for_select(Setting::UNITS.keys, setting.units.to_sym), class: "form-control form-units") %>
      <% else %>
        <%= f.text_field :value, class: "form-control" %>
      <% end %>
    </div>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
<% end %>
</div>
