<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Start</th>
      <th>Duration</th>
      <th>Client</th>
      <th>Reminder sent</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |apt| %>
      <tr>
        <td><%= apt.start.localtime.strftime('%A %B %e %Y, %l:%M %p') %></td>
        <td><%= "#{((apt.end.localtime - apt.start.localtime) / 60).to_i} minutes" %></td>
        <td><%= apt.contact.name %></td>
        <td>
          <div class="text-center">
            <% if apt.reminder_sent? %>
              <span class="glyphicon glyphicon-ok" />
            <% else %>
              <span class="glyphicon glyphicon-minus" />
            <% end %>
          </div>
        </td>
        <td><%= link_to "Edit", edit_appointment_path(apt.id), :method => :get, class: "btn btn-default" %></td>
        <td><%= button_to "Delete", appointment_path(apt.id), :method => :delete, 
          confirm: "Are you sure you wish to delete this appointment?", 
          class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
