<header>
  <nav id="top-navigation-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div id="brand" class="navbar-brand">
        <span class="glyphicon glyphicon-calendar">
      </div>
      <% if current_user %>
        <div class="navbar-left" >
          <ul class="nav navbar-nav">
            <li><%= link_to "Appointments", "#{root_url}appointments" %></li>
            <li><%= link_to "Contacts", "#{root_url}contacts" %></li>
          </ul>
        </div>
      <% else %>
        <a href="<%= root_url %>" class="navbar-brand">Calendar Reminders</a>
      <% end %>
      <div id="auth" class="navbar-right">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to "Settings", "#{root_url}settings" %></li> 
            <li><%= link_to "Profile", "#{root_url}profile" %></li> 
            <li><%= link_to "Sign out", sessions_destroy_path, { method: 'delete' } %></li>
          <% else %>
            <li><%= link_to("Sign in/Register", "#", { "data-toggle" => "modal", "data-target" => "#myModal" }) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
