<!DOCTYPE html>
<html>
<head>
  <title>Calendar Reminders</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Company", "info/about" %></li>
        <li><%= link_to "Contact", "info/contact" %></li>
      </ul>
      <div id="auth">
        <% if current_user %>
          Hello <%= current_user.email %> | <%= link_to "Sign out", sessions_destroy_path, {method: 'delete' } %>
        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Sign in", "authentication/index" %></li>
            <li><%= link_to "Sign up", "authentication/index" %></li>
          </ul>
        <% end %>
      </div>
    </nav>
  </header>
  <div id="messages">
    <% flash.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
  <div id="content">
    <!-- Here goes the individual page content -->
    <%= yield %>
  </div>
  <footer>
    <p>Copyright 2013 - 2014 (c) | Jonathan Worek</p>
    <p>Calendar reminders v 0.0.1</p>
  </footer>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
