<!DOCTYPE html>
<html>
<head>
  <title>Calendar Reminders</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "How it works", root_path %></li>
      <li><%= link_to "Company", root_path %></li>
    </ul>
  </nav>
  <div id="auth">
    <% if current_user %>
      Hello <%= current_user.email %> | <%= link_to "Sign out", sessions_destroy_path, {method: 'delete' } %>
    <% else %>
      <%= link_to image_tag('google/Red-signin-Long-base-44dp.png'), sessions_new_path %>
    <% end %>
  </div>
  <div id="messages">
    <% flash.each do |message| %>
      <p><%= message %></p> 
    <% end %>
  </div>
  <div id="content" class="container bs-docs-container">
    <!-- Here goes the individual page content -->
    <%= yield %>
  </div>
  <footer class="container">
    <div>
      <p>Copyright 2013 - 2014 (c) | Jonathan Worek</p>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <p>Calendar reminders v 0.0.1</p>
      </ul>
    </div>
  </footer>
</body>
</html>
