<!DOCTYPE html>
<html>
<head>
  <title>Calendar Reminders</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' 
%>
<body class="container">
  <% if !flash.empty? %>
    <% if flash[:success] %>
      <div id="messages_success" class="alert alert-success">
        <p><%= flash[:success] %></p>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div id="messages_failure" class="alert alert-danger">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  <% end %>
  <div id="content" class="col-md-12">
    <!-- Here goes the individual page content -->
    <%= render 'layouts/auth' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
